<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- In this file we configure Hibernate and transactional behavior -->
    <import resource="ApplicationContext-persistence.xml"/>

    <!-- In this file we configure Spring Security -->
    <import resource="ApplicationContext-security.xml"/>

    <!-- Exception translation bean post processor -->
    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->

    <!-- Use annotations (@Autowired) for property injection -->
    <context:annotation-config/>

    <!--
        Spring will find all of our service and DAO components because they
        have @Service and @Repository annotations. We do not need to configure
        them in XML
    -->
    <context:component-scan base-package="ru.sgu.csit.inoc.deansoffice"/>
</beans>