<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Dean's Office</display-name>

    <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>
             classpath:ApplicationContext.xml
             classpath:ApplicationContext-security.xml
         </param-value>  
     </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Фильтр для возможности ленивой загрузки данных (не проверено)
    http://samolisov.blogspot.com/2009/01/lazy-loading-hibernate-spring.html -->
    <!-- <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    -->
    <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
    
    <servlet>
        <servlet-name>SpringGwtRemoteServiceServlet</servlet-name>
        <servlet-class>ru.sgu.csit.inoc.deansoffice.servlets.SpringGwtRemoteServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringGwtRemoteServiceServlet</servlet-name>
        <url-pattern>/students/GWTServices/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>ru.sgu.csit.inoc.deansoffice.servlets.DocumentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documents/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>DeansOffice.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>Login and Restricted Space URLs</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    
</web-app>