<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>
             classpath:ApplicationContext.xml
         </param-value>  
     </context-param>

    <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
    
    <servlet>
        <servlet-name>SpringGwtRemoteServiceServlet</servlet-name>
        <servlet-class>ru.sgu.csit.inoc.deansoffice.server.SpringGwtRemoteServiceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>ru.sgu.csit.inoc.deansoffice.server.servlets.DocumentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringGwtRemoteServiceServlet</servlet-name>
        <url-pattern>/ru.sgu.csit.inoc.deansoffice.Application/GWTServices/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documents/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>