<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Spring security -->
    <security:http auto-config="true" >
        <!--<security:intercept-url pattern="/login.html" filters="none"/>-->
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <!--<security:form-login login-page="/login.html" default-target-url="/"/>-->
        <security:form-login default-target-url="/" always-use-default-target="true"/>
        <security:logout/>
        <!--<security:http-basic />-->
    </security:http>


    <security:authentication-manager >
        <security:authentication-provider>
            <security:password-encoder hash="sha"/>
            <!--<security:jdbc-user-service data-source-ref="myDataSource" />-->
            <security:user-service>
                <security:user name="hd"
                               password="b1b3773a05c0ed0176787a4f1574ff0075f7521e"
                               authorities="ROLE_USER" />
                <security:user name="test"                      
                               password="a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"
                               authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>      
    
</beans>
        