<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Use @Autowired annotations for property injection -->
    <context:annotation-config/>

    <!-- Use @Service and @Repository annotations for services and DAO components. -->
    <context:component-scan base-package="ru.sgu.csit.inoc.deansoffice.dao"/>
    <context:component-scan base-package="ru.sgu.csit.inoc.deansoffice.services"/>
    <context:component-scan base-package="ru.sgu.csit.inoc.deansoffice.webui.gxt.students.server.services"/>
    <context:component-scan base-package="ru.sgu.csit.inoc.deansoffice.webui.gxt.admin.server.services"/>

    <!-- In this file we configure Hibernate and transactional behavior -->
    <import resource="ApplicationContext-persistence.xml"/>

    <!-- In this file we configure Spring Security -->
    <import resource="ApplicationContext-security.xml"/>

</beans>