<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" >
        <security:intercept-url pattern="/css/**" filters="none"/>
        <security:intercept-url pattern="/icons/**" filters="none"/>
        <security:intercept-url pattern="/gxt-resources/**" filters="none"/>
        <security:intercept-url pattern="/Login.html*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/login/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <security:form-login login-page="/Login.html" />
        <security:logout logout-success-url="/Login.html" />
    </security:http>


    <security:authentication-manager >
        <security:authentication-provider>
            <security:password-encoder hash="sha"/>
            <security:user-service>
                <security:user name="hd"
                               password="b1b3773a05c0ed0176787a4f1574ff0075f7521e"
                               authorities="ROLE_USER" />
                <security:user name="test"
                               password="a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"
                               authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>
        