<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Database connection settings -->
        <property name="connection.driver_class">${database.driver}</property>
        <property name="connection.url">${database.url}</property>
        <property name="connection.username">${database.user}</property>
        <property name="connection.password">${database.password}</property>

        <property name="connection.characterEncoding">UTF-8</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">${database.dialect}</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Student" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Group" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Speciality" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Faculty" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Dean" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Document" />
        <mapping class="ru.sgu.csit.inoc.deansoffice.domain.Order" />
    </session-factory>
</hibernate-configuration>