.institution-icon {
    background: url(../icons/institution16x16.png) no-repeat center left !important;
}

.users-icon {
    background: url(../icons/users16x16.png) no-repeat center left !important;
}

.staff-icon {
    background: url(../icons/staff16x16.png) no-repeat center left !important;
}

.group-icon {
    background: url(../icons/group16x16.png) no-repeat center left !important;
}

.speciality-icon {
    background: url(../icons/speciality16x16.png) no-repeat center left !important;
}

.faculties-icon {
    background: url(../icons/faculties16x16.png) no-repeat center left !important;
}

.faculty-icon {
    background: url(../icons/faculty16x16.png) no-repeat center left !important;
}

.addButton-icon {
    background: url(../icons/add16x16.png) no-repeat center left !important;
}

.editButton-icon {
    background: url(../icons/edit16x16.png) no-repeat center left !important;
}

.removeButton-icon {
    background: url(../icons/remove16x16.png) no-repeat center left !important;
}

.pdfButton-icon {
    background: url(../icons/pdf16x16.png) no-repeat center left !important;
}

.readyButton-icon {
    background: url(../icons/ready16x16.png) no-repeat center left !important;
}

.issueButton-icon {
    background: url(../icons/issue16x16.png) no-repeat center left !important;
}

.saveButton-icon {
    background: url(../icons/ready16x16.png) no-repeat center left !important;
}

.cancelButton-icon {
    background: url(../icons/remove16x16.png) no-repeat center left !important;
}
